# Node
node_modules/
npm-debug.log
yarn-error.log

# env
.env
.env.local
# Node
/node_modules
/npm-debug.log*
/yarn-error.log
/dist
/build
/.env
.env.local
.env.*.local

# IDE / OS
.vscode/
.DS_Store
Thumbs.db

# lockfiles if you don't want to push
/package-lock.json

